/* popup.css */
body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0 auto;
    width: 320px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

span {
    font-size: 14px;
    margin-top: 4px;
}

input[type="text"] {
    min-width: 250px;
    padding: 8px;
    font-size: 14px;
    margin-top: 4px;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
}

input[type="range"] {
    appearance: none;
    width: 300px;
    min-width: 266px;
    margin: 10px 0;
    height: 14px; 
    background-color: #333;
    border: 1px solid #444;
    outline: none;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007acc;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select {
    width: 120px; /* Set the width as needed */
    padding: 8px;
    font-size: 14px;
    margin-top: 4px;
    background: #333; /* Background color */
    color: #fff; /* Text color */
    border: 1px solid #444; /* Border color */
    outline: none; /* Remove the default outline */
}

select option {
    background: #333; /* Background color */
    color: #fff; /* Text color */
}

select:focus {
    border-color: #007acc;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #007acc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005b9f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 90%;
    overflow: auto;
}

li {
    font-size: 14px;
}

li button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

li button:hover {
    background-color: #aa0000;
}

#statusMessage {
    margin: 10px 0;
    font-size: 14px;
}
