:root {
    --background-color: #1f1f1f;       /* Darker, with a subtle hint of blue for depth */
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f2f2f9;    /* Softer, with a subtle lavender tint */
    }
}

:root {
    background: var(--background-color);
    height: 120vh;
}