:root {
    --background-color: #1f1f1f;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f2f2f9;
    }
}

:root {
    background: var(--background-color);
    height: 120vh;
}
