* {
    box-sizing: border-box;
}

:root {
    background: #121212;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

#background-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#credit-container {
    position: absolute;
    color: lavender;
    font-size: 12px;
    bottom: 48px;
    left: 0;
    background: #2b2a33cc;
    width: fit-content;
    text-align: center;
    padding: 8px 12px;
    border-radius: 0 12px 12px 0;
    z-index: 1;
}

h1,
h2,
h3 {
    color: lavender;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
}

a {
    color: cornflowerblue;
}

.main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    display: flex;
}

#top-sites-header {
    width: fit-content;
    margin: 0 auto 15px;
    background: #2b2a33cc;
    padding: 8px 12px;
    border-radius: 12px;
}

.top-sites-container {
    width: 100%;
    max-height: 90%;
    overflow: scroll;
    margin: auto;
    position: relative;
}

.top-sites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 10px;
    justify-content: center;
    overflow-y: auto;
}

@media only screen and (orientation: portrait) {
    .top-sites-grid {
        max-height: 270px;
    }
}

@media only screen and (orientation: landscape) {
    .top-sites-grid {
        max-height: 130px;
    }
}

.top-site-group {
    text-align: center;
    position: relative;
}

.top-site-group a {
    display: flex;
    text-decoration: none;
    color: lavender;
    background-color: #2b2a33cc;
    border-radius: 8px;
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

.top-site-group a img {
    display: block;
    margin: 5px auto;
    height: 50%;
    aspect-ratio: 1;
}

.placeholder-image {
    height: 30px;
    width: 30px;
    background: #555;
    color: lavender;
    position: absolute;
    margin-top: 5px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.top-site-group a span {
    display: block;
    font-size: 11px;
    max-height: 38%;
    overflow: hidden;
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 90%;
    white-space: nowrap;
}

.top-site-prompt,
.preferences-prompt {
    width: 80%;
    max-width: 500px;
    max-height: 70%;
    overflow: scroll;
    margin: auto;
    position: fixed;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 10px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #121212;
    z-index: 2;
}

#top-site-preview {
    background: #2b2a33cc;
    width: 60px;
    height: 60px;
    margin: 5px auto 10px;
    display: block;
    position: relative;
    border-radius: 8px;
}

#top-site-preview-image {
    height: 50%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    margin-top: 5px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: lavender;
    border-radius: 50%;
}

#top-site-preview-name {
    max-height: 38%;
    bottom: 5px;
    position: absolute;
    font-size: 10px;
    display: block;
    left: 50%;
    transform: translate(-50%);
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    color: lavender;
}

.favicon-options {
    color: lavender;
    margin-bottom: 8px;
}

.favicon-options input[type='radio'] {
    width: 12px;
    height: 12px;
    background-color: #2b2a33cc;
    border: 1px solid cornflowerblue;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    appearance: none;
    margin: 0 5px 0 0;
}

.favicon-options input[type='radio']:checked {
    background-color: cornflowerblue;
}

.favicon-options label {
    position: relative;
    cursor: pointer;
    display: block;
    line-height: 1.4;
    user-select: none;
}

.top-site-group-overlay {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}

.top-site-remove-div {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background: tomato;
    content: url(../icons/featherIcons/trash-2.svg);
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
}

.show {
    display: block;
}

button {
    display: block;
    margin: 10px auto;
    padding: 6px 16px;
    color: lavender;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background: none;
}

#top-sites-buttons {
    display: flex;
    width: fit-content;
    margin: 15px auto 0;
    gap: 10px;
    background: #2b2a33cc;
    height: fit-content;
    padding: 0 8px 0;
    border-radius: 12px;
}

#add-top-site-button,
#remove-top-sites-button,
#move-top-sites-button,
#homepage-preferences-button {
    height: 40px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    border: none;
    border-radius: 20%;
    margin: 0;
    padding: 0;
}

#add-top-site-button img,
#remove-top-sites-button img,
#move-top-sites-button img,
#homepage-preferences-button img {
    height: 60%;
    aspect-ratio: 1;
    margin: auto;
    pointer-events: none;
}

.top-site-prompt button {
    display: inline;
    margin: 0 auto 5px;
}

#top-site-submit {
    float: right;
}

#top-site-cancel {
    border-color: tomato;
}

input[type='text'] {
    width: -moz-available;
    min-width: 250px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    background: #2b2a33cc;
    border: none;
    border-radius: 4px;
    color: lavender;
    outline: none;
}

#main-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dragging {
    z-index: 2;
}

#homepage-preferences-button {
    display: none;
}