* {
    box-sizing: border-box;
}

:root {
    --background-color: 43, 42, 51;
    --box-background: 31, 31, 31;
    --text-color: #dcdce4;
    --primary-color: #6495ed;
    --secondary-color: #ff674d;
    --link-color: #87a2d6;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: 242, 242, 249;
        --box-background: 227, 227, 242;
        --text-color: #141414;
        --primary-color: #6495ed;
        --secondary-color: #ff674d;
        --link-color: #4169e1;
    }
}

.dark-theme {
    --background-color: 43, 42, 51;
    --box-background: 31, 31, 31;
    --text-color: #dcdce4;
    --primary-color: #6495ed;
    --secondary-color: #ff674d;
    --link-color: #87a2d6;
}

.light-theme {
    --background-color: 242, 242, 249;
    --box-background: 227, 227, 242;
    --text-color: #141414;
    --primary-color: #6495ed;
    --secondary-color: #ff674d;
    --link-color: #4169e1; 
}

:root {
    background: rgb(var(--box-background));
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

#background-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#credit-container {
    position: absolute;
    color: var(--text-color);
    font-size: 12px;
    bottom: 24px;
    left: 0;
    background: rgba(var(--background-color), 0.7);
    width: fit-content;
    text-align: center;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 0 12px 12px 0;
    z-index: 1;
    display: none;
    align-items: center;
}

#changeWallButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(var(--box-background), 0.7);
}

#changeWallButton svg {
    height: 60%;
    aspect-ratio: 1;
    pointer-events: none;
}

h1,
h2,
h3 {
    color: var(--text-color);
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: calc(var(--font-size, 11px) + 7px);
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    margin-top: 10px;
}

a {
    color: var(--link-color);
}

#credit-container a {
    margin: 0 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

#main-container {
    width: var(--container-width, 80%);
    height: fit-content;
    max-height: var(--container-height, 65vh);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

#top-sites-header {
    width: fit-content;
    margin: 0 auto 2vh 0;
    background: rgba(var(--background-color), 0.7);
    padding: 8px 12px;
    border-radius: 12px 12px 12px 0;
}

.top-sites-container {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.top-sites-container-empty {
    width: fit-content;
    margin: 0 auto;
}

.top-sites-grid {
    display: none;
    grid-template-columns: repeat(auto-fill, var(--item-size, 60px));
    grid-auto-rows: var(--item-size, 60px);
    gap: var(--grid-gap, 10px);
    justify-content: center;
    overflow-y: auto;
}

.top-site-group {
    text-align: center;
    position: relative;
}

.top-site-group a {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(var(--background-color), 0.7);
    border-radius: var(--top-site-radius, 8px);
    width: var(--item-size, 60px);
    height: var(--item-size, 60px);
}

.top-site-group a:active {
    background-color: var(--primary-color);
}

.top-site-group a img {
    display: block;
    margin: 10% auto;
    height: 50%;
    aspect-ratio: 1;
}

.placeholder-image {
    height: 50%;
    width: 50%;
    background: rgb(var(--box-background));
    color: var(--text-color);
    font-size: var(--font-size, 11px);
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.top-site-group a span {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
    height: 30%;
    max-width: 90%;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    font-size: var(--font-size, 11px);
}

.top-site-prompt,
.preferences-prompt {
    width: 80%;
    max-width: 500px;
    max-height: 70%;
    overflow: scroll;
    margin: auto;
    position: fixed;
    border: 1px solid rgb(var(--background-color));
    border-radius: 8px;
    padding: 10px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(var(--box-background));
    z-index: 3;
}

#unsplash-settings,
#custom-bg-settings,
#file-bg-settings {
    display: none;
}

.top-site-prompt .prompt-footer {
    display: flex;
}

#top-site-preview {
    background: rgb(var(--background-color));
    width: var(--item-size, 60px);
    height: var(--item-size, 60px);
    margin: 5px auto 10px;
    display: block;
    position: relative;
    border-radius: 8px;
}

#top-site-preview-image {
    height: 50%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: var(--font-size, 11px);
    border-radius: 50%;
}

#top-site-preview-name {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
    height: 30%;
    max-width: 90%;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    font-size: var(--font-size, 11px);
    color: var(--text-color);
}

.favicon-options {
    color: var(--text-color);
    margin-bottom: 8px;
}

.favicon-options input[type='radio'] {
    width: 12px;
    height: 12px;
    background-color: rgb(var(--background-color));
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    appearance: none;
    margin: 0 5px 0 0;
}

.favicon-options input[type='radio']:checked {
    background-color: var(--primary-color);
}

.favicon-options label {
    position: relative;
    margin: 5px;
    cursor: pointer;
    display: block;
    line-height: 1.4;
    user-select: none;
}

.top-site-group-overlay {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}

.top-site-remove-div,
.top-site-edit-div {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.top-site-remove-div {
    background: var(--secondary-color);
}

.top-site-edit-div {
    background: var(--primary-color);
}

.top-site-edit-div svg,
.top-site-remove-div svg {
    height: 60%;
    aspect-ratio: 1;
    pointer-events: none;
}

.show {
    display: flex;
}

button {
    display: block;
    margin: 10px auto;
    padding: 6px 16px;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background: none;
}

#top-sites-buttons {
    display: flex;
    width: fit-content;
    margin: 2vh 0 0 auto;
    gap: 10px;
    background: rgba(var(--background-color), 0.7);
    height: fit-content;
    padding: 0 8px 0;
    border-radius: 12px 0 12px 12px;
}

#add-top-site-button,
#edit-top-sites-button,
#remove-top-sites-button,
#move-top-sites-button,
#homepage-preferences-button {
    height: 32px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    border: none;
    border-radius: 20%;
    margin: 0;
    padding: 0;
}

#add-top-site-button:active {
    background-color: var(--primary-color);
}

#homepage-preferences-button {
    position: absolute;
    background: rgba(var(--background-color), 0.7);
    top: 20px;
    right: 20px;
}

#add-top-site-button svg,
#edit-top-sites-button svg,
#remove-top-sites-button svg,
#move-top-sites-button svg,
#homepage-preferences-button svg {
    height: 60%;
    aspect-ratio: 1;
    margin: auto;
    pointer-events: none;
}

#homepage-preferences-button:active {
    background: var(--primary-color);
}

.top-site-prompt button,
.preferences-prompt button {
    display: inline-flex;
    margin: 8px auto;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    cursor: pointer;
    background: rgb(var(--background-color));
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.close-button svg {
    height: 60%;
    aspect-ratio: 1;
    pointer-events: none;
}

.preferences-prompt h2 {
    width: fit-content;
    margin: 0 auto;
}

.currentValue {
    font-size: 14px;
    display: inline-block;
    width: 25px;
}

input[type='range'] {
    appearance: none;
    width: 80%;
    height: 6px;
    background: rgb(var(--background-color));
    border: none;
    border-radius: 4px;
    outline: none;
    margin-top: 14px;
}

input[type='range']::-moz-range-thumb {
    width: 12px;
    height: 24px;
    background: rgb(var(--background-color));
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

#exportTopSites {
    margin: 8px 0 0 0;
}

#top-site-cancel {
    border-color: var(--secondary-color);
}

input[type='text'] {
    width: -moz-available;
    min-width: 250px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    background: rgb(var(--background-color));
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    outline: none;
}

input[type="file"] {
    margin: 8px 0;
}

input[type="file"]::file-selector-button {
    display: inline-flex;
    padding: 6px 16px;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background: none;
}

select {
    display: block;
    width: 120px;
    padding: 8px;
    font-size: 14px;
    margin-top: 4px;
    background: rgb(var(--background-color));
    color: var(--text-color);
    border-radius: 4px;
    outline: none;
    border: none;
}

#unsplash-query,
#custom-bg-url {
    margin-top: 4px;
}

#main-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.dragging {
    z-index: 2;
}
