:root {
    --toolbar-background: #2b2a33;
    --border-color: #45444c;
    --icon-color: #fbfbfe;
    --primary-color: 100, 149, 237;
    color-scheme: dark;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --toolbar-background: #f9f9fb;
        --border-color: #f4f4f6;
        --icon-color: #15141a;
        --primary-color: 70, 130, 180;
        color-scheme: light;
    }
}

body {
    margin: 0;
    height: 100%;
}

#toolbar {
    height: 100%;
    display: flex;
    background-color: var(--toolbar-background);
}

#menu {
    height: 50%;
    display: none;
    background-color: var(--toolbar-background);
}

.toolbar-button {
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    background: transparent;
    display: none;
    padding: 0;
}

.toolbar-button svg {
    height: 50%;
    aspect-ratio: 1;
    margin: auto;
    display: none;
}

div {
    padding: 0 4%;
    box-sizing: border-box;
    justify-content: space-between;
    min-width: 100%;
    width: fit-content;
    position: absolute;
    border-style: solid;
    border-color: var(--border-color);
}

.pressed {
    background: rgba(var(--primary-color), .8);
}